/**
 * @name EnhancedLinks
 * @author Nexus-Themes
 * @version 1.0.0
 * @description a Mini theme that enhances the appearance of Links in Discord
 * @source https://github.com/Nexus-Themes/EnhancedLinks
*/

@import url('https://nexus-themes.github.io/EnhancedLinks/EnhancedLinks.css');

:root {
  --username-colour: red;
}